/*General Theming*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

 :root {
    --ui-1000: #000000;
    --ui-950: #0D0D0D;
    --ui-900: #1A1A1A;
    --ui-850: #262626;
    --ui-800: #333333;
    --ui-700: #4D4D4D;
    --ui-600: #666666;
    --ui-500: #808080;
    --ui-400: #999999;
    --ui-300: #B2B2B2;
    --ui-200: #CCCCCC;
    --ui-150: #D9D9D9;
    --ui-100: #E5E5E5;
    --ui-50: #F2F2F2;
    --ui-0: #FFFFFF;

    --color-text-heading: var(--ui-50);
    --color-text-body: var(--ui-50);
    --color-text-details: var(--ui-500);

    --color-surface-body: var(--ui-1000) !important;

    --radius-main: 1rem;
    --radius-card: var(--radius-main);

    --color-text-hover: var(--ui-0);
    --color-surface-button-hover: var(--ui-800);
    --color-surface-button: var(--ui-900);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700 !important;
}

body {
    font-family: Figtree !important;
    line-height: 1.5 !important;
    letter-spacing: -0.019em !important;
    color: var(--ui-50) !important;
}

/*Card*/
.cardText-first {
    font-weight: 700 !important;
    color: var(--color-text-heading) !important;
    font-size: 1rem !important;
    margin-top: .5rem !important;
}

.cardText-secondary {
    padding-top: 0.25rem !important;
}

.cardText.cardTextCentered {
    text-align: start !important;
}

.cardText {
    padding: 0 !important;
}

.cardBox {
    margin-right: 2rem !important;
}

/* Rounded cards */
.cardContent,
.cardPadder,
.cardOverlayContainer,
.blurhash-canvas,
.dialog,
.itemSelectionPanel,
.nowPlayingPageImage {
    border-radius: var(--radius-card) !important;
    border: 1px solid var(--ui-800) !important;
}

/*Section*/
.sectionTitle {
    font-size: 2rem !important;
    margin-right: .5rem !important;
}


/* Progress Bar */
.itemProgressBar {
    margin: 1rem !important;
    background-color: var(--ui-800) !important;
    border-radius: 20rem !important;
    overflow: clip !important;
}

.itemProgressBarForeground {
    background-color: var(--ui-50) !important;
    border-radius: 0 20rem 20rem 0 !important;
}

/* Hide Play Button on Card */
button.cardOverlayButton {
    display: none !important;
}

/* Hide Card Indicator */
.cardIndicators {
    display: none !important;
}


/* Modified background color */
html,
.backgroundContainer:not(.withBackdrop):not(.backgroundContainer-transparent),
.noBackdropTransparency .detailPageSecondaryContainer {
    background-color: var(--color-surface-body) !important;
}

/* Nav */
.skinHeader {
    background-color: transparent !important;
    min-height: 7.5rem;
    position: relative;
}

.headerTabs {
    width: fit-content;
    background-color: var(--ui-900);
    border-radius: 50rem;
    padding: .5rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.emby-tab-button {
    color: var(--ui-500);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 50rem;
}

.emby-tab-button:hover {
    color: var(--color-text-hover);
}

.emby-tab-button-active {
    color: var(--color-text-heading);
    background-color: var(--ui-700);
}

.headerButton {
    background-color: var(--ui-900);
    border-radius: .75rem;
    padding: 1rem;
}

.headerUserButtonRound div,.headerUserImage {
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 1rem !important;
    width: 1rem !important;
    aspect-ratio: 1/1 !important;
}

/* Icons */
.material-icons {
    font-size: 1rem;
}

/* Buttons */
@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: var(--color-text-hover);
        background-color: var(--color-surface-button-hover);
    }
}

.paper-icon-button-light:active:not(:disabled) {
        color: var(--color-text-hover);
        background-color: var(--color-surface-button-hover);
}

.paper-icon-button-light.show-focus:focus {
    color: var(--color-text-hover);
}