/*General Theming*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

 :root {
    --ui-1000: #000000;
    --ui-950: #0D0D0D;
    --ui-900: #1A1A1A;
    --ui-850: #262626;
    --ui-800: #333333;
    --ui-700: #4D4D4D;
    --ui-600: #666666;
    --ui-500: #808080;
    --ui-400: #999999;
    --ui-300: #B2B2B2;
    --ui-200: #CCCCCC;
    --ui-150: #D9D9D9;
    --ui-100: #E5E5E5;
    --ui-50: #F2F2F2;
    --ui-0: #FFFFFF;

    --color-text-heading: var(--ui-50);
    --color-text-body: var(--ui-50);
    --color-text-details: var(--ui-500);

    --radius-main: 1rem;
    --radius-card: var(--radius-main);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700 !important;
}

body {
    font-family: Figtree !important;
    line-height: 1.5 !important;
    letter-spacing: -0.019em !important;
    color: var(--ui-50) !important;
}

/*Card*/
.cardText-first {
    font-weight: 700 !important;
    color: var(--color-text-heading) !important;
    font-size: 1rem !important;
    
}

.cardText.cardTextCentered {
    text-align: start !important;
}

.cardText {
    padding: 0 !important;
    padding-top: .5rem !important;
}


/* Rounded cards */
.cardContent,
.cardPadder,
.cardOverlayContainer,
.blurhash-canvas,
.dialog,
.itemSelectionPanel,
.nowPlayingPageImage {
    border-radius: var(--radius-card) !important;
}

/*Section*/
.sectionTitle {
    font-size: 2rem !important;
}